@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    outline: 1px solid red;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 8px;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 8px;
}

button {
    width: 120px;
    padding: 8px;
    height: 40px;
    background-color: #3882F6;
    border-radius: 6px;
    color: white;
    font-size: 16px;
}

.hero {
    display: flex;
    background-color: #1F2937;
}

.hero img {
    max-width: 400px;
    height: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-text h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.random-info {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.random-info h2 { 
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.images-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

/* Crops images in the random information section */
.images-container img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;

}

.action-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.action-section-content {
    background-color: gold;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 15px 80px;
    gap: 100px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}